<h2 class="text-2xl font-bold mb-4 text-gray-600">{{ title }}</h2>

<div class="grid grid-cols-1 lg:grid-cols-2 gap-4 mt-4">
  <p-card>
    <ng-template pTemplate="title">
      <div class="text-green">
        <i class="pi pi-dollar"></i> Estad. movimientos {{mothActually}}
      </div>
    </ng-template>
    <ng-template pTemplate="content">
    <app-stackedbar [dataSource]="dataChart" [labels]="labels" [label]="label"></app-stackedbar>
    </ng-template>
  </p-card>
  <p-card>
    <ng-template pTemplate="title">
      <div class="text-green">
        <i class="pi pi-dollar"></i> Estad. porcentajes {{mothActually}}
      </div>
    </ng-template>
    <ng-template pTemplate="content">
    <app-doughnut  [dataSource]="dataChart" [labels]="labelsDog" [label]="label"></app-doughnut>
    </ng-template>
  </p-card>

</div>

<div class="grid grid-cols-1 lg:grid-cols-3 gap-4 mt-4">
  <!-- Primer Card -->
  <p-card>
    <ng-template pTemplate="title">
      <div class="text-green">
        <i class="pi pi-dollar"></i> Informe {{mothPass}}
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <div class="flex items-start">
        <!-- Div a la izquierda -->
        <div class="text-center">
          <!-- Círculo de ingresos -->
          <div
            class="flex flex-col justify-center items-center bg-green-500 text-white rounded-full w-40 h-40"
          >
            <span class="text-lg font-bold">{{dataCompareInform.expenses.difference | numberFormat}}</span>
            <span class="text-sm font-medium mt-1">Gastos</span>
          </div>

          <!-- Círculo de gastos -->
          <div
            class="flex flex-col justify-center items-center bg-yellow-100 text-gray-500 rounded-full w-25 h-25 mt-4"
          >
            <span class="text-lg font-bold">{{dataCompareInform.income.difference | numberFormat}}</span>
            <span class="text-sm font-medium mt-1">Ingresos</span>
          </div>
        </div>

        <!-- Div a la derecha -->
        <div class="text-left flex flex-col ml-4">
          <p class="text-md">Ya tienes disponible tu</p>
          <p class="text-md font-bold">Informe de {{mothPass}}</p>
          <p class="text-md">Has tenido una diferencia de:</p>
          <h2 class="text-xl font-bold">{{dataCompareInform.income.difference - dataCompareInform.expenses.difference }},</h2>
          <h2 class="text-md"><b>{{difference.percentage}}%</b> más que el mes anterior</h2>
        </div>
      </div>
    </ng-template>
  </p-card>

  <!-- Segundo Card -->
  <p-card class="summary-card expense-card col-span-2">
    <ng-template pTemplate="title">
      <div class="text-green">
        <i class="pi pi-shopping-cart"></i> Últimos movimientos
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <!-- Filas de la tabla -->
      <div
        *ngFor="let item of dataSource | slice : 0 : 5"
        class="grid grid-cols-5 items-center border-b border-gray-300 py-3 hover:bg-green-100 text-center"
      >
        <div>{{ item.account.name }}</div>
        <div>{{ item.name }}</div>
        <div>
          {{
            item.category | valueToLabel : incomesBillsConstans.category.option
          }}
        </div>
        <div>{{ item.createAt | customDate }}</div>
        <div>
          {{ item.amount | numberFormat }}
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="text-center text-green mt-1 font-bold">
        <a href="">Ir a Movimientos</a>
      </div>
    </ng-template>
  </p-card>
</div>
