<h2 class="text-2xl font-bold mb-4 text-gray-600">{{ title }}</h2>

<div class="grid grid-cols-1 lg:grid-cols-2 gap-4 mt-4">
  <p-card>
    <ng-template pTemplate="title">
      <div class="text-center">
        Cuánto tengo
        <p class="font-bold text-2xl">{{total.totalFirst | numberFormat }}€</p>
      </div>
      <app-doughnut-dynamic
        [dataSource]="dataChart"
        [labels]="labelsDog"
        [label]="label"
      ></app-doughnut-dynamic>
      <div class="card flex justify-center text-md w-full">
        <p-accordion value="0" class="w-full">
          <p-accordion-panel
            value="0"
          >
            <p-accordion-header>Cuentas</p-accordion-header>
            <p-accordion-content>
              <div
                *ngFor="let item of accounts; let i = index"
                class="flex justify-between flex-wrap gap-4 py-2 border-l-8 border-l-transparent hover:border-l-green-600 hover:text-green-600 pl-2 transition-all  cursor-pointer"
              >
                <div class="flex-2 align-items-center">
                  <p class="text-xs">
                    {{ item.details.iban ?? item.details.name }}
                  </p>
                  <small class="text-xs">{{
                    item.details.iban ? item.details.name : ""
                  }}</small>
                </div>
                <div class="flex-1 text-right">
                  <p>{{ item.details.balance | numberFormat }}€</p>
                </div>
              </div>
            </p-accordion-content>
          </p-accordion-panel>
        </p-accordion>
      </div>
    </ng-template>
    <ng-template pTemplate="content"> </ng-template>
  </p-card>
  <p-card>
    <ng-template pTemplate="title">
      <div class="text-center">
        Cuánto tengo
        <p class="font-bold text-2xl">{{total.totalSecond | numberFormat }}€</p>
      </div>
      <app-doughnut
        [dataSource]="total.totalSecond"
        [labels]="labelsDog"
        [label]="label"
      ></app-doughnut>
      <div class="card flex justify-center text-md">
        <p-accordion value="0" class="w-full">
          <p-accordion-panel
            value="0"
          >
            <p-accordion-header>Créditos</p-accordion-header>
            <p-accordion-content>
              <div
                *ngFor="let item of credit; let i = index"
                class="flex justify-between flex-wrap gap-4 py-2 border-l-8 border-l-transparent hover:border-l-green-600 hover:text-green-600 pl-2 transition-all cursor-pointer"
              >
                <div class="flex-2 align-items-center">
                  <p class="text-xs">
                    {{ item.details.iban ?? item.details.name }}
                  </p>
                  <small class="text-xs">{{
                    item.details.iban ? item.details.name : ""
                  }}</small>
                </div>
                <div class="flex-1 text-right">
                  <p>{{ item.details.balance | numberFormat }}€</p>
                </div>
              </div>
            </p-accordion-content>
          </p-accordion-panel>
        </p-accordion>
      </div>
    </ng-template>
    <ng-template pTemplate="content"> </ng-template>
  </p-card>
</div>
