<header class=" bg-transparent backdrop-blur-sm">
  <div
    class="bg-orange-400/30 text-orange-500 border border-orange-400 rounded flex justify-between items-center p-4"
    *ngIf="!isLogin"
  >
    <span>
      Versión prueba para Recruiter. Loguéate como
      <a (click)="guardar()" class="cursor-pointer"><b>prueba&#64;prueba.com | 12345</b></a>
    </span>
    <i class="pi pi-spin pi-spinner" style="font-size: 0.8rem"  *ngIf="isLoading"></i>
    <i class="pi pi-times  cursor-pointer" style="font-size: 0.8rem" *ngIf="!isLoading" (click)="isLogin=true"></i>
  </div>
  <div class="container mx-auto my-2 flex items-center justify-between">
    <!-- Logo (centro) -->
    <div class="flex">
      <a
        href="/"
        class="text-xl font-bold  flex items-center space-x-2"
      >
        <svg
          class="w-8 h-8 text-orange-400"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            d="M12 2L2 7l10 5 10-5-10-5zm0 6.8L5.6 7 12 4.2 18.4 7 12 8.8zM2 10l10 5 10-5v7l-10 5-10-5v-7z"
          ></path>
        </svg>
        <span>SmartBudget </span>
      </a>
    </div>
    <!-- Menú + Icono (derecha) -->

    <div class="flex items-center gap-2 p-2">

      <div class="rounded border-1 border-gray-400 hover:border-orange-400 p-1 flex items-center justify-center cursor-pointer" (click)="showDialog()">
        <i class="pi pi-search" style="font-size: 0.8rem"></i>
      </div>

      <div class="rounded border-1 border-gray-400 hover:border-orange-400 p-1 flex items-center justify-center cursor-pointer" (click)="user.toggle($event)" *ngIf="isLogin">
        <i class="pi pi-user" style="font-size: 0.8rem"></i>
      <p-menu #user [popup]="true" [model]="itemsUser" appendTo="body"></p-menu>

      </div>
      <div class="rounded border-1 border-gray-400 hover:border-orange-400 p-1 flex items-center justify-center cursor-pointer" routerLink="/login" *ngIf="!isLogin">
        <i class="pi pi-user" style="font-size: 0.8rem"></i>


      </div>
      <div class="rounded border-1 border-gray-400 hover:border-orange-400 p-1 flex items-center justify-center cursor-pointer" (click)="option.toggle($event)">
        <i class="pi pi-cog" style="font-size: 0.8rem"></i>
      <p-menu #option [popup]="true" [model]="itemsOption" appendTo="body"></p-menu>

      </div>


    </div>
  </div>



</header>

<p-dialog [modal]="true" [(visible)]="visible" [style]="{ width: '100%' }" position="top">
    <p-iconfield>
      <p-inputicon styleClass="pi pi-search" />
      <input type="text" pInputText placeholder="Buscar" [style]="{ width: '100%' }"/>
  </p-iconfield>
  <div class="flex items-center justify-center p-4">No hay busquedas recientes</div>

</p-dialog>
