<header>
  <div class="container mx-auto flex items-center justify-between">
    <!-- Logo (centro) -->
    <div class="flex">
      <a
        href="/"
        class="text-2xl font-bold  flex items-center space-x-2"
      >
        <svg
          class="w-8 h-8 text-green-600"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            d="M12 2L2 7l10 5 10-5-10-5zm0 6.8L5.6 7 12 4.2 18.4 7 12 8.8zM2 10l10 5 10-5v7l-10 5-10-5v-7z"
          ></path>
        </svg>
        <span>SmartBudget </span>
      </a>
    </div>
    <!-- Menú + Icono (derecha) -->
    <div class="flex" *ngIf="login">
      <button class="text-gray-700 hover:text-green-600 p-4 cursor-pointer">
        <i class="pi pi-user" style="font-size: 1rem"></i>
      </button>
      <button
        class="text-gray-700 hover:text-green-600 cursor-pointer"
        (click)="toggleDarkMode()"
      >
        <i class="pi pi-sun" style="font-size: 1rem" *ngIf="iconMode"></i>
        <i class="pi pi-moon" style="font-size: 1rem" *ngIf="!iconMode"></i>
      </button>
    </div>
    <div class="flex" *ngIf="!login">
      <button class="hover:text-green-600 p-4 cursor-pointer" routerLink="/login">
        Iniciar sesión
      </button>
      <button class="text-green-600 hover:text-green-700 cursor-pointer">Registrarse</button>
    </div>
  </div>
</header>
<header class="shadow-md" *ngIf="login">
  <div class="container mx-auto ">
    <app-menu-top [items]="itemsSub"></app-menu-top>
  </div>
</header>
