<p-button (click)="showDialog()" [label]="title" size="small"/>
    <p-dialog [header]="title" [modal]="true" [(visible)]="visible" [maximizable]="true" [baseZIndex]="10000">
      <app-dynamic-form
      [formData]="dynamicGroup"
      (formGroupChange)="onFormGroupChange($event)"s
    ></app-dynamic-form>
    <ng-template #footer>
      <p-button label="Cancelar" [text]="true" severity="secondary" (click)="visible = false" />
      <p-button label="Aceptar" [outlined]="true" severity="secondary" (click)="onSubmitForm()"  [disabled]="dynamicForm.invalid"/>
  </ng-template>
    </p-dialog>
