<div
  class="flex flex-wrap gap-6 justify-center md:justify-start p-4"
  (window:scroll)="onScroll()"
  #scrollContainer
>
  <p-card
    class="hover-card transform hover:scale-105 transition-transform duration-300 shadow-md hover:shadow-lg rounded-lg overflow-hidden"
    [style]="{ width: '16rem', background: 'transparent', border: 'none' }"
    (click)="goToArtwork(card)"
    *ngFor="let card of limit && limit > 0 ? artworks.slice(0, limit) : artworks"
  >
    <ng-template #header>
      <div class="relative w-full h-48 overflow-hidden">
        <img alt="Artwork" class="w-full h-full object-cover" [src]="card.imageUrl" />
        <div class="absolute bottom-0 w-full h-24 bg-gradient-to-t from-black/70 to-transparent text-white flex items-end p-2">
          <div class="font-semibold text-md">{{ card.title }}</div>
        </div>
      </div>
    </ng-template>
  </p-card>
</div>

<!-- Spinner mientras carga -->
<div class="w-full flex justify-center items-center py-8" *ngIf="isLoading">
  <div class="flex flex-col items-center">
    <i class="pi pi-spin pi-spinner text-orange-500" style="font-size: 3rem"></i>
    <span class="mt-2 text-orange-400 font-semibold">Cargando obras...</span>
  </div>
</div>
