<div class="card">
  <p-table
    #dt2
    [value]="dataSource"
    dataKey="id"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50]"
    [loading]="loading"
    [paginator]="true"
    [globalFilterFields]="globalFilterFields"
    [tableStyle]="{ 'min-width': '75rem' }"
  >
    <ng-template pTemplate="caption">
      <div class="flex">
        <p-iconfield iconPosition="left" class="ml-auto">
          <p-inputicon>
            <i class="pi pi-search"></i>
          </p-inputicon>
          <input
            pInputText
            type="text"
            placeholder="Search keyword"
          />
        </p-iconfield>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of label" [style.width]="col.width || 'auto'">
          {{ col.header }}
        </th>
      </tr>
      <tr>
        <th *ngFor="let col of label">
          <ng-container [ngSwitch]="getColumnType(col.field)">
            <!-- Text Filter -->
            <p-columnFilter
              *ngSwitchCase="'text'"
              type="text"
              [field]="col.field"
              [placeholder]="'Search by ' + col.header"
            ></p-columnFilter>

            <!-- Boolean Filter -->
            <p-columnFilter
              *ngSwitchCase="'boolean'"
              type="boolean"
              [field]="col.field"
            ></p-columnFilter>

            <!-- Representative Filter -->
            <p-columnFilter
              *ngSwitchCase="'representative'"
              [field]="col.field"
              matchMode="in"
              [showMenu]="false"
            >
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiselect
                  [options]="representatives"
                  placeholder="Any"
                  (onChange)="filter($event.value)"
                  optionLabel="name"
                  [panelStyle]="{ minWidth: '16rem' }"
                >
                  <ng-template let-option pTemplate="item">
                    <div class="flex items-center gap-2">
                      <img
                        [alt]="option.name"
                        [src]="'https://primefaces.org/cdn/primeng/images/demo/avatar/' + option.image"
                        width="24"
                      />
                      <span>{{ option.name }}</span>
                    </div>
                  </ng-template>
                </p-multiselect>
              </ng-template>
            </p-columnFilter>

            <!-- Status Filter -->
            <p-columnFilter
              *ngSwitchCase="'status'"
              [field]="col.field"
              matchMode="equals"
              [showMenu]="false"
            >
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-dropdown
                  [options]="statuses"
                  (onChange)="filter($event.value)"
                  placeholder="Select Status"
                  [showClear]="true"
                >
                  <ng-template let-option pTemplate="item">
                    <p-tag [value]="option.value" [severity]="getSeverity(option.value)"></p-tag>
                  </ng-template>
                </p-dropdown>
              </ng-template>
            </p-columnFilter>
          </ng-container>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-item>
      <tr>
        <td *ngFor="let col of label">
          <ng-container [ngSwitch]="getColumnType(col.field)">
            <!-- Text Column -->
            <ng-container *ngSwitchCase="'text'">
              {{ item[col.field] }}
            </ng-container>

            <!-- Boolean Column -->
            <ng-container *ngSwitchCase="'boolean'">
              <i
                class="pi"
                [ngClass]="{
                  'text-green-500 pi-check-circle': item[col.field],
                  'text-red-500 pi-times-circle': !item[col.field]
                }"
              ></i>
            </ng-container>

            <!-- Country Column -->
            <ng-container *ngSwitchCase="'country'">
              <div class="flex items-center gap-2" *ngIf="item[col.field]">
                <img
                  src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                  [class]="'flag flag-' + item[col.field].code"
                  width="20"
                />
                <span>{{ item[col.field].name }}</span>
              </div>
            </ng-container>

            <!-- Representative Column -->
            <ng-container *ngSwitchCase="'representative'">
              <div class="flex items-center gap-2" *ngIf="item[col.field]">
                <img
                  [alt]="item[col.field].name"
                  [src]="'https://primefaces.org/cdn/primeng/images/demo/avatar/' + item[col.field].image"
                  width="32"
                />
                <span>{{ item[col.field].name }}</span>
              </div>
            </ng-container>

            <!-- Status Column -->
            <ng-container *ngSwitchCase="'status'">
              <p-tag [value]="item[col.field]" [severity]="getSeverity(item[col.field])"></p-tag>
            </ng-container>
          </ng-container>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="label.length">No records found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
