<div class="card">
  <p-table
    #dt
    [value]="dataSource"
    [rows]="10"
    [columns]="columns"
    [paginator]="true"
    [globalFilterFields]="globalFilterFields"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedItems"
    (selectionChange)="emitSelectedRows($event)"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template #caption>
      <div class="flex items-center justify-between">
        <h5 class="m-0">Manage Products</h5>
        <p-iconfield>
          <p-inputicon styleClass="pi pi-search" />
          <input
            pInputText
            type="text"
            (input)="filterGlobal($event, dt)"
            placeholder="Search..."
          />
        </p-iconfield>
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox />
        </th>
        <th
          *ngFor="let col of columns"
          pSortableColumn="{{ col.header }}"
          style="min-width: 16rem"
        >
          {{ col.header }}
        </th>
        <th style="min-width: 12rem"></th>
      </tr>
    </ng-template>
    <ng-template #body let-product>
      <tr>
        <td style="width: 3rem">
          <p-tableCheckbox [value]="product" />
        </td>
        <td style="min-width: 12rem" *ngFor="let col of columns">
          <ng-container [ngSwitch]="col.type">
            <img
              *ngSwitchCase="'image'"
              [src]="product[col.field]"
              alt="imagen"
              style="width: 40px; height: 40px"
            />
            <p-tag *ngSwitchCase="'tag'" [value]="product[col.field]" />
            <span *ngSwitchDefault>{{ product[col.field] }}</span>
          </ng-container>
        </td>

        <td>
          <p-button
            icon="pi pi-pencil"
            class="mr-2"
            [rounded]="true"
            [outlined]="true"
            (click)="onEdit(product)"
          />
          <p-button
            icon="pi pi-trash"
            severity="danger"
            [rounded]="true"
            [outlined]="true"
            (click)="onDelete(product)"
          />
        </td>
      </tr>
    </ng-template>
    <ng-template #summary>
      <div class="flex items-center justify-between">
        In total there are products.
      </div>
    </ng-template>
  </p-table>
</div>
