.dynamic-form .form-grid {
  display: flex; /* Cambia a Flexbox */
  flex-wrap: wrap; /* Permite que los elementos se ajusten a la siguiente línea si no hay espacio */
  gap: 5px; /* Espaciado uniforme entre los elementos */
  padding: 5px;
}

.divider-container {
  margin: 1rem 0; /* Espaciado superior e inferior */
  width: 100%; /* Asegura que ocupe todo el ancho */
}
