<form [formGroup]="formGroup" class="dynamic-form">
  <div class="form-grid">
    <ng-container *ngFor="let field of formData.data">
      <!-- Render Input -->
      <div [class]="field.grid ? 'form-item ' : 'form-item'">
        <p-floatLabel
          variant="on"
          *ngIf="field.type === 'input' && !field.hidden"
        >
          <input
            pInputText
            [formControlName]="field.name || ''"
            [required]="field.required || false"
            [readonly]="field.readonly || false"
          />
          <label [for]="field.name || ''">
            {{ field.label }} <span *ngIf="field.required">*</span>
          </label>
        </p-floatLabel>
      </div>
      <!-- Render Input with Currency -->
      <div [class]="field.grid ? 'form-item full-width' : 'form-item'">
        <p-floatLabel
          variant="on"
          *ngIf="field.type === 'number' && !field.hidden"
        >
          <p-inputnumber
            inputId="locale-user"
            [formControlName]="field.name || ''"
            [required]="field.required || false"
            [readonly]="field.readonly || false"
          />
          <label [for]="field.name || ''">
            {{ field.label }} <span *ngIf="field.required">*</span>
          </label>
        </p-floatLabel>
      </div>
      <!-- Render Password Input -->
      <div [class]="field.grid ? 'form-item full-width' : 'form-item'">
        <div *ngIf="field.type === 'pass' && !field.hidden">
          <p-password
            [formControlName]="field.name || ''"
            [feedback]="false"
            [toggleMask]="true"
            [placeholder]="field.label"
            [disabled]="field.readonly || false"
          ></p-password>
        </div>
      </div>
      <!-- Render Select Input -->
      <div
        [class]="field.grid ? 'form-item full-width' : 'form-item'"
        *ngIf="field.type === 'select' && !field.hidden"
      >
        <p-floatLabel variant="on">
          <p-select
            [options]="field.option || []"
            [formControlName]="field.name || ''"
            placeholder="{{ field.label }}"
            [disabled]="field.readonly || false"
            [readonly]="field.readonly || false"
            [inputId]="field.label"
            optionLabel="label"
            optionValue="value"
            appendTo="body"
          ></p-select>
          <label [for]="field.name">
            {{ field.label }} <span *ngIf="field.required">*</span>
          </label>
        </p-floatLabel>
      </div>

      <!-- Render Textarea -->
      <div
        [class]="field.grid ? 'form-item full-width' : 'form-item'"
        *ngIf="field.type === 'textarea' && !field.hidden"
      >
        <p-floatLabel>
          <textarea
            pTextarea
            id="description"
            rows="5"
            cols="30"
            style="resize: none"
          ></textarea>
          <label for="description">Description</label>
        </p-floatLabel>
      </div>

      <!-- Render Checkbox -->
      <div
        [class]="field.grid ? 'form-item full-width' : 'form-item'"
        *ngIf="field.type === 'check' && !field.hidden"
      >
        <p-floatLabel>
          <label>
            <input
              type="checkbox"
              [formControlName]="field.name || ''"
              [required]="field.required || false"
              [disabled]="field.readonly || false"
            />
            {{ field.label }}
          </label>
        </p-floatLabel>
      </div>

      <!-- Render Datepicker -->
      <div
        [class]="field.grid ? 'form-item full-width' : 'form-item'"
        *ngIf="field.type === 'date' && !field.hidden"
      >
        <p-floatLabel variant="on">
          <p-datepicker
            [formControlName]="field.name || ''"
            type="date"
            [required]="field.required || false"
            [disabled]="field.readonly || false"
            [dateFormat]="'dd/mm/yy'"
            appendTo="body"
          ></p-datepicker>
          <label [for]="field.name || ''">{{ field.label }} <span *ngIf="field.required">*</span></label>
        </p-floatLabel>
      </div>
      <div
  class="form-item full-width divider-container"
  *ngIf="field.type === 'divider' && !field.hidden"
>
  <p-divider [style]="{ 'width': '100%' }"></p-divider>
</div>
      <!-- Render Button -->
      <div
        [class]="field.grid ? 'form-item full-width' : 'form-item'"
        *ngIf="field.type === 'button' && !field.hidden"
      >
        <button type="button" class="btn-primary" (click)="field.onClick()">
          {{ field.label }}
        </button>
      </div>
    </ng-container>
  </div>
</form>
