<h2 class="text-2xl font-bold mb-4">
  {{ title }} de {{ credit.balance | numberFormat }} €
</h2>
<p-card class="mb-4">
  <div class="flex flex-wrap gap-4">
    <div class="flex-1 min-w-[20px]">
      <small>Importe pendiente</small>
      <h2 class="text-2xl font-bold mb-4 text-green-600">
        {{ credit.balancePending | numberFormat }} €
      </h2>
    </div>
    <div class="flex-1 min-w-[20px]">
      <small>Cuota mensual</small>
      <h2 class="text-xl font-bold mb-4 text-green-600">
        {{ credit.amount | numberFormat }} €
      </h2>
    </div>
    <div class="flex-1 min-w-[20px]">
      <small>Fecha vencimiento</small>
      <h2 class="text-xl font-bold mb-4 text-green-600">
        {{ credit.endAt | customDate }}
      </h2>
    </div>
    <div class="flex-1 min-w-[20px]">
      <small>Recibo pendientes de vencer</small>
      <h2 class="text-xl font-bold mb-4 text-green-600">
        {{ credit.recivePending }}
      </h2>
    </div>
  </div>
</p-card>

<div class="flex flex-wrap gap-2">
  <div class="flex-3 min-w-[20px]">
    <p-accordion value="0">
      <p-card class="mx-4">
        <p-accordion-panel value="0">
          <p-accordion-header>Datos del préstamo</p-accordion-header>
          <p-accordion-content>
            <div class="flex flex-wrap gap-3">
              <div class="flex-1 min-w-[20px]">
                <small>Titulares</small>
                <h2 class="text-md font-bold mb-4">
                  {{ credit.titular }}
                </h2>
              </div>
              <div class="flex-1 min-w-[20px]">
                <small>Número de contrato</small>
                <h2 class="text-md font-bold mb-4">
                  {{ credit._id }}
                </h2>
              </div>
              <div class="flex-1 min-w-[20px]">
                <small>Cuenta vinculada</small>
                <h2 class="text-md font-bold mb-4">
                  {{ account.name }}
                </h2>
              </div>
              <div class="flex-1 min-w-[20px]">
                <small>Fecha constitución</small>
                <h2 class="text-md font-bold mb-4">
                  {{ credit.endAt | customDate }}
                </h2>
              </div>
            </div>
            <div class="flex-1 min-w-[20px]">
              <small>Tipo de interés</small>
              <h2 class="text-md font-bold mb-4">
                {{ credit.interest }} %
              </h2>
            </div>
          </p-accordion-content>
        </p-accordion-panel>
      </p-card>
    </p-accordion>
  </div>

  <div class="flex-1 min-w-[20px] ">
    <p-card class="mx-4">

        <p-menu [model]="items" [style]="{'border':'none'}"/>
      </p-card>

  </div>

</div>
