<div class="card">
  <p-table
    [value]="customers"
    [paginator]="true"
    [rows]="5"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rowsPerPageOptions]="[5, 10, 20]"
  >
    <ng-template #header>
      <tr>
        <th
          *ngFor="let col of columns"
          [style]="col.style || {}"
        >
          {{ col.header }}
          <p-sortIcon *ngIf="col.sortable" [field]="col.field"></p-sortIcon>
        </th>
        <th>
          Opción
        </th>
      </tr>
    </ng-template>
    <ng-template #body let-product>
      <tr
        (click)="onRowSelect(product)"
        [pSelectableRow]="product"
        [pSelectableRowIndex]="product.id"
        [ngClass]="rowClass(product)"
        [ngClass]="rowClass(product)"
        (mouseover)="hoveredRow = product"
        (mouseleave)="hoveredRow = null"
      >
      <td *ngFor="let col of columns">

        {{ isNumber(product[col.field]) ? (product[col.field] | numberFormat) : product[col.field] }}
      </td>
      <td>
        <p-splitbutton label="Save" icon="pi pi-check" dropdownIcon="pi pi-cog" [model]="boton" (onClick)="sendUrl(product)"/>
      </td>
      </tr>
    </ng-template>
  </p-table>
</div>

