<div class="w-full p-4 space-y-10">
  <!-- Frase motivadora -->
  <div class="text-center text-xl italic text-gray-600">
    "El arte limpia del alma el polvo de la vida."
  </div>

  <!-- Obras destacadas y Artistas del momento en columnas -->
  <section class="flex flex-col md:flex-row gap-6">
    <!-- Obras destacadas a la izquierda -->
    <div class="flex-1">
      <h2 class="text-2xl font-bold mb-4">Obras destacadas</h2>
      <app-gallery-component [artworks]="artworks" [isLogin]="false" [limit]="4"></app-gallery-component>

    </div>

    <!-- Artistas del momento a la derecha -->
    <div class="w-full md:w-1/5  justify-center">
      <h2 class="text-2xl font-bold mb-4">Artistas del momento</h2>
      <app-gallery-circle [items]="bests" [limit]="3"></app-gallery-circle>
      <h2 class="text-2xl font-bold my-4 ">Nuevos talentos</h2>
      <app-gallery-circle [items]="bests" [limit]="3"></app-gallery-circle>
      <div class="bg-blue-50 p-6 rounded-lg shadow-md text-center space-y-4 my-4">
        <h2 class="text-2xl font-bold text-blue-700">🎨 Reto de Arte</h2>
        <div class="flex justify-center items-center space-x-2">
          <i class="fas fa-hourglass-half text-blue-400 animate-pulse text-2xl"></i>
          <span class="italic text-gray-700">"Reto de la semana: Dibuja un paisaje usando solo 3 colores."</span>
        </div>
        <p class="text-sm text-gray-600">
          ¡Anímate a participar y sube tu creación en la sección de retos!
        </p>

        <!-- Tiempo restante -->
        <div class="text-sm text-gray-500">
          Tiempo restante: <span class="font-semibold">10</span>
        </div>

        <button class="mt-4 px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 transition">
          Subir mi obra
        </button>
      </div>

    </div>
  </section>

  <!-- Eventos / Exposiciones -->
  <section>
    <h2 class="text-2xl font-bold mb-4">Eventos y Exposiciones</h2>
    <div class="flex flex-wrap gap-6 justify-center md:justify-start">
      <div *ngFor="let event of events" class="max-w-sm w-full sm:w-80 bg-orange-100 p-4 rounded shadow-lg flex flex-col">
        <img [src]="event.image" alt="{{ event.title }}" class="w-full h-40 object-cover rounded-md mb-4" />
        <h4 class="font-bold text-lg mb-2">{{ event.title }}</h4>
        <p class="text-sm text-gray-700 mb-4">{{ event.description }}</p>
        <button class="self-start px-4 py-2 bg-orange-400 text-white rounded-md hover:bg-orange-500 transition">Participar</button>
      </div>
    </div>
  </section>
</div>
