/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";
@use "primeicons/primeicons.css";
body {
  background-image: url("https://res.cloudinary.com/dv7mmnufm/image/upload/v1745311814/pattern_fbaesk.png");
  background-blend-mode: hard-light, multiply;
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto 15rem;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.logo {
  height: 40px;
}

.main-container {
  display: flex;
  flex: 1;
  overflow: hidden;
  min-width: 250px;
  padding: 0 180px;

  @media (max-width: 1200px) {
    padding: 0 100px;
  }

  @media (max-width: 992px) {
    padding: 0 60px;
  }

  @media (max-width: 768px) {
    padding: 0 30px;
  }

  @media (max-width: 576px) {
    padding: 0 16px;
  }
}

// .sidebar {
//   background: #f4f4f4;
//   padding: 10px;
//   box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
// }

.content {
  flex: 1;
  overflow-y: auto;
}

.footer {
  text-align: center;
  padding: 10px;
}

.bg-green {
  background-color: #10b981;
}
.text-green {
  color: #10b981;
}
