/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";

body {
  background-image: url("https://www.primefaces.org/cdn/primevue/images/layout/pattern.png");
  background-blend-mode: hard-light, multiply;
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto 15rem;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  color: white;
}

.logo {
  height: 40px;
}

.main-container {
  display: flex;
  flex: 1;
  overflow: hidden;
  min-width: 250px;
}

// .sidebar {
//   background: #f4f4f4;
//   padding: 10px;
//   box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
// }

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.footer {
  text-align: center;
  padding: 10px;
}

.bg-green {
  background-color: #10b981;
}
.text-green {
  color: #10b981;
}
