/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  color: white;
}

.logo {
  height: 40px;
}

.main-container {
  display: flex;
  flex: 1;
  overflow: hidden;
  min-width: 250px;

}

// .sidebar {
//   background: #f4f4f4;
//   padding: 10px;
//   box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
// }

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 10px;
}

.custom-panelmenu .p-menuitem-link.router-link-active {
  background-color: #007ad9; /* Color de fondo para el elemento activo */
  color: white; /* Color del texto */
  font-weight: bold; /* Texto en negrita */
}
